parameters:
    level: 5 #max - 7
    paths:
        - src
    symfony:
        container_xml_path: %rootDir%var/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml
    autoload_directories:
        - %rootDir%/../../../src/Migrations
#   excludes_analyse:
#        - 'src/*'

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

# https://github.com/lookyman/phpstan-symfony

